/* css reset */
*{
    margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
    width: 100%;
    height: 66px;
    background-color: #f1f1f1;
    box-shadow: 27px 26px 40px rgba(0, 0, 6, 0.1);
}
/* Pseudo selcetors  */
#navbar::before{
    content: "";
    background-color: #f1f1f1;
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: -1;
}
/* Navigation Bar : Logo*/
#logo{
    margin: -16px 30px;
}
/* Navigation Bar : Image*/
#logo img{
    width: 114px;
    height: 105px;
    margin: 0px 24px;
}

#navbar ul{
    display: flex;
    justify-content: center;}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    display: block;
    padding: 23px 36px;
    text-decoration: none;
    color: black;
    border-radius: 20px
}

#navbar ul li a:hover{
    background-color: black;
    color : whitesmoke;
}

/* Home section styling */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 400px;
    align-items: center;
    justify-content: center;

}

#home::before{
    content: "";
    position: absolute;
    background: url(../image/bg2.jpeg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
}


