/* css reset */
*{
    margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
    width: 100%;
    height: 66px;
    background-color: #f1f1f1;
    box-shadow: 27px 26px 40px rgba(0, 0, 6, 0.1);
}
/* Pseudo selcetors  */
#navbar::before{
    content: "";
    background-color: #f1f1f1;
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: -1;
}
/* Navigation Bar : Logo*/
#logo{
    margin: -16px 30px;
}
/* Navigation Bar : Image*/
#logo img{
    width: 114px;
    height: 105px;
    margin: 0px 24px;
}

#navbar ul{
    display: flex;
    justify-content: center;
}

#navbar ul li{
    list-style: none;
    font-family: 'Baloo 2', sans-serif;
    font-size: 1.1rem;
}

#navbar ul li a{
    display: block;
    padding: 23px 36px;
    text-decoration: none;
    color: black;
    border-radius: 20px
}

#navbar ul li a:hover{
    background-color: black;
    color : whitesmoke;
}

/* Home section styling */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 460px;
    align-items: center;
    justify-content: center;

}

#home::before{
    content: "";
    position: absolute;
    background: url(../image/bg2.jpeg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
}

/* services */
#services{
    display: flex;
    margin: 34px;
    flex-wrap: wrap;
}

#services .box{
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #f1f1f1;
    box-shadow: 27px 26px 40px rgba(0, 0, 6, 0.1);
    border-radius: 20px;
    text-align: center;
}

#services .box img{
   height: 100px;
}

/* Utilities styling */
#home h1{
    font-family: 'Bree Serif', serif;
    text-align: center;
}

#home p{
    font-family: 'Bree Serif', serif;
    text-align: center; 
    font-size: 0.8rem;
}

.h-primary{
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'Bree Serif', serif;
}

.h-secondary{
    font-size: 1.7rem;
    margin-bottom: 20px;
    font-family: 'Bree Serif', serif;
    margin-top: 28px;
    text-align: center;
}

.btn{
    padding: 10px 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
    font-family: 'Bree Serif', serif;
    font-size: 1.1rem;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: black;
}

.center{
    text-align: center;
}